.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-image: url('/images/home/desktop/image-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 89px;
}

.home .hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .hero-left h3 {
  letter-spacing: 5px;
  font-size: 13px;
  color: var(--darkGrey);
  margin-bottom: 16px;
}

.home .hero-left h1 {
  font-size: 56px;
  margin-bottom: 16px;
}

.home .hero-left p {
  width: 70%;
  line-height: 2;
  margin-bottom: 16px;
  color: var(--darkGrey);
}

.home .section {
  background-color: var(--white);
  height: 480px;
  width: 100%;
  padding: 89px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.home .section-products {
  background-color: var(--white);
  height: 594px;
  width: 100%;
  padding: 0 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .product-speaker-zx9 {
  width: 100%;
  height: 594px;
  background: url('/images/home/desktop/pattern-circles.svg') no-repeat center
      center / cover,
    var(--ginger);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home .product-speaker-zx9 .img {
  height: 594px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home .product-speaker-zx9 .img img {
  height: 70%;
  object-fit: cover;
  transform: translateY(10px);
}

.home .product-speaker-zx9-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 89px;
}

.home .product-speaker-zx9-info h2 {
  font-size: 56px;
  font-weight: 700;
}

.home .product-speaker-zx9-info p {
  margin-bottom: 16px;
}
.home .section-products-2 {
  background-color: var(--white);
  height: calc(320px + 89px + 89px);
  width: 100%;
  padding: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home .product-speaker-zx7 {
  width: 100%;
}
.home .product-speaker-zx7 .img {
  height: 320px;
}
.home .product-speaker-zx7 .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .product-speaker-zx7 h2,
.home .product-speaker-zx7 button {
  position: absolute;
  top: 33%;
  left: 25%;
  transform: translateX(-50%);
  color: var(--black);
}
.home .product-speaker-zx7 button {
  top: 56%;
  border: 1px solid var(--black);
}
.home .product-earphones-yx1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product-earphones-yx1 .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 89px;
}
.product-earphones-yx1 .wrapper .h2 {
  color: #000;
}
.product-earphones-yx1 .wrapper button {
  border: 1px solid var(--black);
}
.home .audio-gear {
  background-color: var(--white);
  height: calc(588px + 89px + 89px);
  width: 100%;
  padding: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home .audio-gear .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home .audio-gear .wrapper .h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 32px;
}
.home .audio-gear .wrapper .h2 h2 {
  font-size: 40px;
  color: var(--black);
}
.home .audio-gear .wrapper .h2 h2 span {
  color: var(--ginger);
}
.home .audio-gear .wrapper .h2 p {
  color: var(--darkGrey);
}
