.footer{
  color: var(--white);
  height: 352px;
  width: 100%;
  padding: 89px;
  background-color: var(--black);
}
.footer-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-nav .wrapper{
  display: flex;
  flex-wrap: wrap;
}
.footer-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  place-items: end;
  align-items: center;
}
.footer-container .text{
  line-height: 2;
  color: var(--darkGrey);
}
.footer-container .social{
  margin-right: 32px;
}
.footer-container .social img{
  margin-right: 32px;
}
@media (max-width: 750px) {
  .footer{
    color: var(--white);
    height: 352px;
    width: 90vw;
    padding: 09px;
    background-color: var(--black);
  }
  .footer-container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    place-items: end;
    align-items: center;
  }
  .footer-container .social{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-top: 16px;
  }
}