.finish{
  position: absolute;
  left: 50%;
 top: calc(50% - 89px);
 transform: translate(-50%,-50%);
 background-color: var(--white);
 padding: 32px;
 color: var(--black);
}
.card-finish {
  display: flex;
  flex-direction: column;
}
.card-finish .card{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 16px;
} 
.card-finish .card .img{
  width: 50px;
  height: 50px;
}
.card-finish .card .img img{
  width: 100%;
}